body, h1, h2, h3, h4, h5, h6 {
  /*font-family: "Montserrat", sans-serif*/
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.w3-row-padding img {
  margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/profile_guidi.jpg');
    min-height: 100%;
}

.letter-name {
  display: inline-grid;
}
